.App {
  font-family: sans-serif;
  text-align: center;
}

.labelBlock {
    display: inline-block;
    width: 50%;
}

.Flipped {
    direction: rtl;
}

.Content {
    direction: ltr;
}

.HighChart {
    height: available;
}

.HighTable {
    height: available;
}


